 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
 }

 body {
   height: 100%;
   background: #fefefe;
   align-items: center;
   justify-content: center;
   display: flex;
   background-size: contain;
   padding-top: 80px;
   font-family: 'Poppins', sans-serif;
 }

 .calculator {
   width: 80%;
   height: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
 }

 .display {
   width: 100%;
   height: 100px;
   font-size: 3.5rem;
   text-align: right;
   padding: 20px;
   border: none;
   border-radius: 15px;
   color: #000;
   background: #ededed;
   box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.1), inset -3px -3px 0px rgba(255, 255, 255, 0.8);
   font-family: "Abel", sans-serif;
   font-weight: 400;
   font-style: normal;
 }

 .buttons {
   flex: 1;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   gap: 20px;
 }

 .button {
   position: relative;
   display: inline-block;
   margin: 10px;
   user-select: none;
   -moz-user-select: none;
   outline: none;
 }

 .button {
   color: white;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 36px;
   text-align: center;
   text-decoration: none;
   background-color: #ff8c00;
   display: block;
   position: relative;
   padding: 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   filter: dropshadow(color=#000000, offx=0px, offy=1px);
   -webkit-box-shadow: inset 0 1px 0 #ffe2d8, 0 10px 0 #912700;
   -moz-box-shadow: inset 0 1px 0 #ffe2d8, 0 10px 0 #912700;
   box-shadow: inset 7px 6px 0px 0px #e3e3e333, 0 10px 0 #844600;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   touch-action: auto;
 }

 .button:active {
   top: 10px;
   background-color: #F78900;
   -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
   -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
   box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
 }

 .button:after {
   content: "";
   height: 100%;
   width: 100%;
   padding: 4px;
   position: absolute;
   bottom: -15px;
   left: -4px;
   z-index: -1;
   background-color: #000000;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 }

 .button:active,
 .button.active {
   top: 10px;
   background-color: #F78900;
   -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
   -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
   box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
 }

 #equal {
   grid-column: span 2;
   background: #ff8c00;
 }

 #button-bg {
   background: #fff;
   color: #912700;
 }

 #darkToggle,
 #mode,
 #fullscreenToggle,
 #clearHistory {
   position: fixed;
   top: 20px;
   background: #F78900;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 30px;
   border-radius: 10px;
   color: #fff;
   cursor: pointer;
 }

 #darkToggle {
   right: 100px;
 }

 #mode {
   right: 200px;
 }

 #fullscreenToggle {
   right: 20px;
 }
 #clearHistory{
  right: 305px;
 }

 body.dark-mode {
   background: #1e1e1e;
   color: #f1f1f1;
 }

 body.dark-mode .display {
   background: #2a2a2a;
   color: #ffffff;
   box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.4), inset -3px -3px 0px rgba(255, 255, 255, 0.05);
 }

 body.dark-mode .button {
   -webkit-box-shadow: inset 0 1px 0 #ffe2d8, 0 10px 0 #912700;
   -moz-box-shadow: inset 0 1px 0 #ffe2d8, 0 10px 0 #912700;
   box-shadow: inset 0 1px 0 #ffe2d8, 0 10px 0 #912700;
 }

 body.dark-mode #button-bg {
   -webkit-box-shadow: inset 0 1px 0 #ffe2d8, 0 10px 0 #b5b5b5;
   -moz-box-shadow: inset 0 1px 0 #ffe2d8, 0 10px 0 #b5b5b5;
   box-shadow: inset 0 1px 0 #ffe2d8, 0 10px 0 #b5b5b5;
 }

 body.dark-mode .button:active {
   box-shadow: inset 0 1px 0 #232323, inset 0 -3px 0 #262626;
 }

 body.dark-mode #darkToggle {
   background: #f1f1f1;
   color: #111;
 }
 body.dark-mode #history {
   background: #232323;
   color: #fff;
   box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.1), inset -3px -3px 0px rgba(40, 40, 40, 0.8);
 }

 #history {
     top: 0;
     margin-top: 10px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 6px;
     box-shadow: inset 7px 6px 0px 0px #e3e3e333, 0 10px 0 #844600;
     background-color: #ff8c00;
     border-radius: 15px;
     padding: 30px;
     margin: 20px;
 }

 .history-box {
   display: inline-flex;
   align-items: center;
   padding: 4px 8px;
   border-radius: 6px;
   font-size: 12px;
   font-family: monospace;
   cursor: default;
   white-space: nowrap;
   /* ek hi line me */
   transition: 0.2s;
 }

 .history-item{
  background: #ffffff;
  padding: 10px;
  font-weight: bold;
  color: #000000;
  border-radius: 10px;
  box-shadow: inset 2px 2px #cdcdcd;
 }
 .history-box:hover {
   background: #dcdcdc;
   transform: scale(1.05);
 }

 .dark-mode .history-box {
   background: #444;
   color: #fff;
 }